body{
  background-color:  #F9FAFE;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

main{
  margin: 10% auto 5%;
  width: 45%;
  box-shadow: 1px 1px 10px 1px #F5F5F7;
  background-color:  hsl(0, 0%, 100%);
  padding: 1% 2%;
  border-radius: 10px;
}
/* top section */
#top{
  padding-bottom: 1vh;
}
h1{
  color:  hsl(224, 21%, 14%);
  font-size: 1rem;
  font-weight: 800;
  display:inline-block;
}
/* number box */
.num-box{
  background-color: hsl(219, 85%, 26%);
  color: white;
  padding: .4rem;
  border-radius: 5px;
  font-size: 10px;
  }
  h2{
    color:hsl(219, 12%, 42%);
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    float: right;
      }
  /* notification in blue */
  .notification-blue{
    background-color:#F6FAFD;
    padding: 0.2rem;
    margin: 0.5rem auto;
    display: flex;
    align-content: center;
    border-radius: 10px;
}
  img{
    width:35px;
    height: 35px;
    margin:0.6vw ;


  }
  .text-box{
    flex:7;
  }


  /* notification cells  texts*/
h4{
  font-size: 0.8rem;
  margin: 0.6vw 1vw 0.2vh;

}
a{
  text-decoration: none;
    color:#161920;
}
a:hover{
  color: #112D65;
}
h2 a:hover{
  font-weight: 700;
  color:hsl(219, 85%, 26%);
}

.light{
  font-weight: 500;
  color:#797D86;
}
.dark{
  color:#5F636E;
}
p{
  font-size: 0.85rem;
  color:#999DA6;
  margin: 0 1vw ;
}
.dark-blue{
  color:#2B496D;
}
 /* white notifications */
 .notification-white{
   padding: 0.2rem;
   margin: 0.5rem auto;
   display: flex;
 }

 .box-below-notification{
   border:1px solid #B2B3B7;
   color:#2B496D;
   font-weight: 500;
   margin: 0.5vw 0  0 1vw ;
   padding: 0.5vw 1vw 0.5vw 0 ;
  text-align: left;
 }
 .box-below-notification p{
   font-size: .84rem;
 }
 .box-below-notification:hover{
   background-color:hsl(211, 68%, 94%);
 }
 i{
   color:red;
   
 }

 .chess-pic{
   align-self: flex-end;

 }
 @media screen and (max-width:780px){
   main{
     width:70%;
     margin:25% 0;
   }
 }
